*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

$blue: #3f99da;
$red: #ce6262;
$grey: #c4c4c4;
$black: #060f27;
$pink: #d4418d;

body {
  font-family: "Poppins";
}

a {
  text-decoration: none;
  color: $blue;
}
