*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

$blue: #3f99da;
$red: #ce6262;
$grey: #c4c4c4;
$black: #060f27;
$pink: #d4418d;

body {
  font-family: "Poppins";
}

a {
  text-decoration: none;
  color: $blue;
}

.container {
  .navbar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;

    #hamburger {
      display: none;
    }

    .left_side {
      .logo {
        width: 80px;
      }
    }

    .right_side {
      a {
        font-family: Poppins;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0px;
        color: black;
        padding-right: 32px;
      }

      button {
        color: white;
        font-family: Poppins;
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;

        border: none;
        background-color: #ef8b15;
        border-radius: 20px;
        padding: 16px 45px;
      }
    }
  }

  .hero {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  #aboutUs {
    padding-top: 100px;
    .logo_section {
      width: 287px;
    }

    .bridge_ctr {
      display: flex;

      justify-content: center;
      gap: 21px;

      .left_side {
        .bridge_img {
          width: 511px;
        }
      }

      .right_side {
        width: 523px;

        .title {
          font-family: Poppins;
          font-weight: 700;
          font-size: 40px;
          line-height: 72px;
          letter-spacing: -2.5%;
          color: #b88e2f;
        }

        .description {
          font-family: Poppins;
          font-weight: 500;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0%;
          color: #333333;
        }
      }
    }

    .tailored_ctr {
      padding-top: 100px;
      .up_side {
        text-align: center;

        .title {
          font-family: Poppins;
          font-weight: 700;
          font-size: 40px;
          line-height: 45px;
          letter-spacing: -2.5%;
          text-align: center;
          color: #111827;
        }

        .description {
          font-family: Poppins;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0%;
          text-align: center;
          color: #111827;
        }
      }

      .down_side {
        display: flex;
        justify-content: center;
        gap: 100px;
        padding-top: 50px;

        .benefits_ctr {
          width: 280px;
          padding-bottom: 40px;

          .title {
            font-family: Poppins;
            font-weight: 700;
            font-size: 29px;
            line-height: 30px;
            letter-spacing: -2.5%;
            text-align: center;
            color: #111827;
          }

          .description {
            font-family: Poppins;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: center;
            color: #111827;
          }
        }
      }
    }

    .vismis_ctr {
      .up_side {
        display: flex;

        .monas_ctr {
          position: relative;
          width: 50%;
          .monas_img {
            width: 100%;
          }
          .logo_section {
            position: absolute;
            bottom: 30px;
            left: 10px;
          }
        }

        .vision_ctr {
          width: 50%;
          background-color: white;
          border-radius: 5px;
          border: 1px solid #d9d9d9;
          box-shadow: 5px 5px 5px 5px #888888;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .title {
            width: 224px;
            font-family: Poppins;
            font-weight: 700;
            font-size: 40px;
            line-height: 62px;
            letter-spacing: -1px;
            text-align: center;
            text-transform: capitalize;
            color: #1c1c1c;
          }

          .description {
            width: 224px;
            font-family: Poppins;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: center;
            color: #5e5b5b;
          }
        }
      }

      .down_side {
        display: flex;

        .mission_ctr {
          width: 50%;
          background-color: white;
          border-radius: 5px;
          border: 1px solid #d9d9d9;
          box-shadow: 5px 5px 5px 5px #888888;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .title {
            width: 224px;
            font-family: Poppins;
            font-weight: 700;
            font-size: 40px;
            line-height: 62px;
            letter-spacing: -1px;
            text-align: center;
            text-transform: capitalize;
            color: #1c1c1c;
          }

          .description {
            width: 224px;
            font-family: Poppins;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: center;
            color: #5e5b5b;
          }
        }

        .yunani_ctr {
          width: 50%;

          .yunani_img {
            width: 100%;
          }
        }
      }
    }
  }

  #whytdm {
    padding: 100px 10px;

    .up_side {
      padding-bottom: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 60px;

      .left_side {
        width: 500px;

        .title {
          font-family: Poppins;
          font-weight: 700;
          font-size: 40px;
          line-height: 72px;
          letter-spacing: -2.5%;
          text-align: center;
          color: #b88e2f;
        }

        .description {
          font-family: Poppins;
          font-weight: 500;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0%;
          text-align: center;
          color: #333333;
        }
      }

      .right_side {
        .whytdm_img {
          width: 500px;
        }
      }
    }

    .down_side {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      .card_ctr {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 254px;
        height: 328px;
        border: 5px solid #9ca3af;
        border-radius: 10px;
        padding-left: 5px;
        padding-right: 5px;
        .title {
          font-family: Poppins;
          font-weight: 700;
          font-size: 25px;
          line-height: 35px;
          letter-spacing: -2.5%;
          text-align: center;
          color: #111827;
        }

        .description {
          font-family: Poppins;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0%;
          text-align: center;
          color: #111827;
        }
      }
    }
  }

  #gallery {
    padding-left: 78px;
    padding-right: 78px;
    .sentence_ctr {
      display: flex;
      justify-content: space-between;

      .left_side {
        width: 535px;
        .title {
          font-family: Poppins;
          font-weight: 600;
          font-size: 48px;
          line-height: 100%;
          letter-spacing: 0%;
          padding-bottom: 17px;
        }

        .description {
          font-family: Poppins;
          font-weight: 600;
          font-size: 20px;
          line-height: 100%;
          letter-spacing: 0%;
          color: #636363;
        }
      }
    }

    .gallery_ctr_1 {
      display: flex;
      justify-content: end;
      gap: 10px;

      .left_side {
        display: flex;
        justify-content: end;
        align-items: end;
        img {
          width: 281px;
          display: flex;
        }
      }

      .center_side {
        display: flex;
        justify-content: end;
        align-items: end;
        img {
          width: 281px;
        }
      }

      .right_side {
        display: flex;
        flex-direction: column;
        gap: 10px;
        img {
          width: 281px;
        }
      }
    }

    .gallery_ctr_2 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 10px;
      width: 100%;

      .gallery_6 {
        width: 281px;
      }
      .gallery_7 {
        width: 281px;
      }
      .gallery_8 {
        width: 580px;
      }
    }

    .gallery_ctr_3 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 10px;
      .left_side {
        img {
          width: 568px;
        }
      }

      .center_side {
        width: 290px;
        img {
          width: 290px;
        }
      }

      .right_side {
        width: 290px;
        img {
          width: 290px;
        }
      }
    }

    .gallery_ctr_4 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      img {
        width: 282px;
      }
    }
  }

  #ourpartners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .up_side {
      padding: 100px 0 50px 0;
      width: 710px;

      .title {
        font-family: Poppins;
        font-weight: 600;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
      }

      .description {
        font-family: Poppins;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: #636363;
      }
    }

    .down_side {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;

      img {
        width: 272px;
        object-fit: cover;
      }
    }
  }

  #ourteam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    .up_side {
      .title_orange {
        font-family: Poppins;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0%;
        color: #ef8b15;
        text-align: center;
      }

      .title {
        font-family: Poppins;
        font-weight: 700;
        font-size: 40px;
        line-height: 56px;
        letter-spacing: 0%;
        color: #171a1f;
        text-align: center;
      }

      .description {
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: center;
        color: #565d6d;
      }
    }

    .down_side {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .card_ctr {
        width: 276px;
        height: 327px;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
      }
    }
  }

  .footer_ctr {
    display: flex;
    justify-content: space-between;

    .left_side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 570px;
      img {
        width: 216px;
      }

      .title {
        width: 358px;
        font-family: Poppins;
        font-weight: 600;
        font-size: 25px;
        line-height: 100%;
        letter-spacing: 0%;
      }

      .description {
        width: 358px;
        font-family: Poppins;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #636363;
      }
    }

    .right_side {
      padding: 64px;
      border: 1px solid #ef8b15;
      border-radius: 128px 0 0 0;

      .up_side {
        display: flex;
        justify-content: space-between;

        .left {
          p {
            font-family: Poppins;
            font-weight: 500;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: 0%;
            color: #36382e;
          }
          .title {
            font-family: Poppins;
            font-weight: 500;
            font-size: 12px;
            line-height: 150%;
            letter-spacing: 4%;
            text-transform: uppercase;
            color: #ef8b15;
            margin-bottom: 16px;
          }

          .address_ctr {
            margin-top: 31px;
            margin-bottom: 59px;
          }
        }

        .right {
          .title {
            font-family: Poppins;
            font-weight: 500;
            font-size: 12px;
            line-height: 150%;
            letter-spacing: 4%;
            text-transform: uppercase;
            color: #ef8b15;
          }

          .medsos_ctr {
            img {
              padding: 8px;
              border: 1px solid #ef8b15;
              width: 50px;
              border-radius: 50px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    .navbar {
      position: relative;
      flex-direction: row;
      justify-content: flex-start;
      padding: 16px;

      #hamburger {
        font-size: 26px;
        cursor: pointer;
        display: block;
        margin-right: 20px;
      }

      .left_side {
        display: none;
      }

      .right_side {
        position: absolute;
        top: 70px;
        left: 0;
        height: max-content;
        width: 300px;
        background-color: white;
        flex-direction: column;
        padding: 20px;
        display: none;
        gap: 20px;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        // Tambahan untuk animasi
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        display: flex; // penting, supaya tidak perlu toggle display

        a {
          padding: 12px 0;
        }

        button {
          width: 100%;
          margin-top: 20px;
        }
      }

      .right_side.active {
        display: flex;
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    #aboutUs {
      .logo_section {
        width: 110px;
      }

      .bridge_ctr {
        padding-left: 13px;
        padding-right: 13px;
        .left_side {
          .bridge_img {
            width: 182px;
          }
        }

        .right_side {
          width: 247px;

          .title {
            font-family: Poppins;
            font-weight: 700;
            font-size: 17px;
            line-height: 19px;
            letter-spacing: -2.5%;
          }

          .description {
            font-family: Poppins;
            font-weight: 500;
            font-size: 11px;
            line-height: 15px;
            letter-spacing: 0%;
          }
        }
      }

      .tailored_ctr {
        .up_side {
          padding-left: 70px;
          padding-right: 70px;
          .title {
            font-family: Poppins;
            font-weight: 700;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: -2.5%;
            text-align: center;
          }

          .description {
            font-family: Poppins;
            font-weight: 400;
            font-size: 11px;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: center;
          }
        }

        .down_side {
          align-items: center;
          flex-direction: column;
          margin-left: 12px;
          margin-right: 12px;
          gap: 25px;
          .left_side {
            .benefits_ctr {
              width: 201px;
              .title {
                font-family: Poppins;
                font-weight: 700;
                font-size: 19px;
                line-height: 30px;
                letter-spacing: -2.5%;
                text-align: center;
              }

              .description {
                font-family: Poppins;
                font-weight: 400;
                font-size: 11px;
                line-height: 24px;
                letter-spacing: 0%;
                text-align: center;
              }
            }
          }
          .right_side {
            .benefits_ctr {
              width: 201px;
              .title {
                font-family: Poppins;
                font-weight: 700;
                font-size: 19px;
                line-height: 30px;
                letter-spacing: -2.5%;
                text-align: center;
              }

              .description {
                font-family: Poppins;
                font-weight: 400;
                font-size: 11px;
                line-height: 24px;
                letter-spacing: 0%;
                text-align: center;
              }
            }
          }
        }
      }

      .vismis_ctr {
        .up_side {
          flex-direction: column;
          .monas_ctr {
            width: 100%;
            .monas_img {
              width: 100%;
            }
            .logo_section {
              display: none;
            }
          }

          .vision_ctr {
            border: none;
            box-shadow: none;
            width: 100%;
            padding: 80px 0;
            .title {
              font-family: Poppins;
              font-weight: 700;
              font-size: 30px;
              line-height: 62px;
              letter-spacing: -1px;
              text-align: center;
              text-transform: capitalize;
            }

            .description {
              font-family: Poppins;
              font-weight: 600;
              font-size: 15px;
              line-height: 24px;
              letter-spacing: 0%;
              text-align: center;
            }
          }
        }

        .down_side {
          flex-direction: column;
          .mission_ctr {
            width: 100%;
            border: none;
            box-shadow: none;
            padding: 80px 0;
            .title {
              font-family: Poppins;
              font-weight: 700;
              font-size: 30px;
              line-height: 62px;
              letter-spacing: -1px;
              text-align: center;
              text-transform: capitalize;
            }

            .description {
              font-family: Poppins;
              font-weight: 600;
              font-size: 15px;
              line-height: 24px;
              letter-spacing: 0%;
              text-align: center;
            }
          }

          .yunani_ctr {
            width: 100%;
          }
        }
      }
    }

    #whytdm {
      .up_side {
        flex-direction: column;
        .left_side {
          width: 280px;

          .title {
            font-family: Poppins;
            font-weight: 700;
            font-size: 30px;
            line-height: 40px;
            letter-spacing: -2.5%;
            text-align: center;
          }
          .description {
            font-family: Poppins;
            font-weight: 500;
            font-size: 17px;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: center;
          }
        }

        .right_side {
          .whytdm_img {
            width: 380px;
          }
        }
      }

      .down_side {
        flex-direction: column;
      }
    }

    #gallery {
      padding-left: 16px;
      padding-right: 16px;
      .sentence_ctr {
        display: block;
        .left_side {
          width: 100%;
          .title {
            font-family: Poppins;
            font-weight: 600;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
          }

          .description {
            font-family: Poppins;
            font-weight: 600;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
          }
        }

        .gallery_ctr_1 {
          gap: 3px;
          justify-content: start;
          .left_side {
            justify-content: start;
            img {
              width: 100px;
              display: block;
            }
          }
          .center_side {
            justify-content: start;
            img {
              width: 85px;
            }
          }
          .right_side {
            display: block;
            justify-content: start;
            img {
              width: 100px;
            }
          }
        }
      }
      .gallery_ctr_2 {
        gap: 3px;
        .gallery_6 {
          width: 90px;
        }
        .gallery_7 {
          width: 90px;
        }
        .gallery_8 {
          width: 199px;
        }
      }

      .gallery_ctr_3 {
        gap: 3px;
        .left_side {
          img {
            width: 200px;
          }
        }
        .center_side {
          img {
            width: 90px;
          }
        }
        .right_side {
          img {
            width: 90px;
          }
        }
      }

      .gallery_ctr_4 {
        gap: 3px;
        img {
          width: 90px;
        }
      }
    }

    #ourpartners {
      .up_side {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        .title {
          font-family: Poppins;
          font-weight: 600;
          font-size: 28px;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
        }
        .description {
          font-family: Poppins;
          font-weight: 400;
          font-size: 13px;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
        }
      }

      .down_side {
        grid-template-columns: none;
      }
    }

    #ourteam {
      .up_side {
        .title_orange {
          font-family: Poppins;
          font-weight: 700;
          font-size: 15px;
          line-height: 30px;
          letter-spacing: 0%;
          text-align: center;
        }
        .title {
          font-family: Poppins;
          font-weight: 700;
          font-size: 20px;
          line-height: 56px;
          letter-spacing: 0%;
          text-align: center;
        }
        .description {
          font-family: Poppins;
          font-weight: 400;
          font-size: 11px;
          line-height: 16px;
          letter-spacing: 0%;
          text-align: center;
        }
      }

      .down_side {
        flex-direction: column;
      }
    }

    .footer_ctr {
      flex-direction: column;
      gap: 20px;

      .left_side {
        width: 100%;
        img {
          width: 216px;
        }

        .title {
          font-family: Poppins;
          font-weight: 600;
          font-size: 25px;
          line-height: 100%;
          letter-spacing: 0%;
        }
        .description {
          font-family: Poppins;
          font-weight: 600;
          font-size: 18px;
          line-height: 100%;
          letter-spacing: 0%;
        }
      }

      .right_side {
        .up_side {
          flex-direction: column;
        }
      }
    }
  }
}
